<p style="color: green"><%= notice %></p>
<div>
<h3>"<%= @category.title %>" Tasks</h3>
<p class="ms-5"> <%= @category.description %></p>
  <ul class="list-group">
    <% @category.tasks.each do |task| %>
      <li class="list-group-item"><%= task.name %> <%= link_to "show", category_task_path(task.category, task) %> </li> 
    <% end %>
  </ul>
  <p class="ms-5 mt-3">
  <%= link_to "Add task", new_category_task_path(@category) %>
  </p>

  
  <%= link_to "Back to categories", categories_path %> |

  <%= link_to "Edit Category", edit_category_path(@category) %>

  <%= button_to 'Delete', @category, confirm: 'Are you sure?', method: :delete %>
</div>